<form [formRoot]="resetPasswordForm" class="flex flex-col bg-gray-300">
  <div class="flex flex-col mb-2">
    <label for="newPassword">New password</label>
    <input
      [formField]="resetPasswordForm.password"
      id="newPassword"
      type="password"
      autocomplete="new-password"
      placeholder="******"
      class="bg-white placeholder-gray-300"
    />

    @if (resetPasswordForm.password().touched() && resetPasswordForm.password().invalid()) {
      @for (error of resetPasswordForm.password().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    }
  </div>

  <div class="flex flex-col mb-2">
    <label for="confirmNewPassword">Confirm new password</label>
    <input
      [formField]="resetPasswordForm.confirmPassword"
      id="confirmNewPassword"
      type="password"
      autocomplete="new-password"
      placeholder="******"
      class="bg-white placeholder-gray-300"
    />

    @if (
      resetPasswordForm.confirmPassword().touched() && resetPasswordForm.confirmPassword().invalid()
    ) {
      @for (error of resetPasswordForm.confirmPassword().errors(); track error.kind) {
        <span>{{ error.message }}</span>
      }
    }
  </div>

  @if (errorMessage()) {
    <div role="alert" class="rounded-md border px-3 py-2 text-sm">
      <span>{{ errorMessage() }}</span>
    </div>
  }

  <button
    type="submit"
    [disabled]="resetPasswordForm().submitting()"
    [class.opacity-75]="resetPasswordForm().submitting()"
    [class.opacity-100]="!resetPasswordForm().submitting()"
    [class.cursor-pointer]="!resetPasswordForm().submitting()"
    class="flex gap-3 justify-center items-center p-2 bg-gray-700 text-white"
  >
    @if (resetPasswordForm().submitting()) {
      <svg class="size-5 animate-spin" viewBox="0 0 24 24" fill="none" aria-hidden="true">
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>

        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
      <span>Processing…</span>
    } @else {
      <span>Save new password</span>
    }
  </button>
</form>
