<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col bg-gray-300">
  <div class="flex flex-col mb-2">
    <label for="newPassword">New password</label>
    <input
      id="newPassword"
      type="password"
      formControlName="newPassword"
      autocomplete="new-password"
      placeholder="******"
      class="bg-white placeholder-gray-300"
    />

    @if (form.controls.newPassword.touched && form.controls.newPassword.hasError('required')) {
      <span> Password is mandatory </span>
    }

    @if (form.controls.newPassword.touched && form.controls.newPassword.hasError('minlength')) {
      <span> Password must contain at least 8 characters </span>
    }

    @if (form.controls.newPassword.touched && form.controls.newPassword.hasError('maxlength')) {
      <span> Password has a 64 character limit </span>
    }
  </div>

  <div class="flex flex-col mb-2">
    <label for="confirmNewPassword">Confirm new password</label>
    <input
      id="confirmNewPassword"
      type="password"
      formControlName="confirmNewPassword"
      autocomplete="new-password"
      placeholder="******"
      class="bg-white placeholder-gray-300"
    />

    @if (
      form.controls.confirmNewPassword.touched &&
      form.controls.confirmNewPassword.hasError('required')
    ) {
      <span> Password confirmation is mandatory </span>
    }

    @if (form.controls.confirmNewPassword.touched && form.hasError('passwordMismatch')) {
      <span>Passwords don't match</span>
    }
  </div>

  <button
    type="submit"
    [disabled]="form.invalid"
    [class.opacity-50]="form.invalid"
    [class.opacity-100]="form.valid"
    [class.cursor-pointer]="form.valid"
    class="bg-gray-700"
  >
    Save new password
  </button>
</form>
