<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col bg-gray-300">
  <div class="flex flex-col mb-2">
    <label for="email"> email </label>

    <input
      id="email"
      type="email"
      formControlName="email"
      autocomplete="email"
      placeholder="your@email.com"
      class="bg-white placeholder-gray-300"
    />

    @if (form.controls.email.touched && form.controls.email.hasError('required')) {
      <span> E-mail is mandatory </span>
    }

    @if (form.controls.email.touched && form.controls.email.hasError('email')) {
      <span> Inform a valid e-mail </span>
    }
  </div>

  <button
    type="submit"
    [disabled]="isLoading()"
    [class.opacity-75]="isLoading()"
    [class.opacity-100]="!isLoading()"
    [class.cursor-pointer]="!isLoading()"
    class="flex gap-3 justify-center items-center p-2 bg-gray-700 text-white"
  >
    @if (isLoading()) {
      <svg class="size-5 animate-spin" viewBox="0 0 24 24" fill="none" aria-hidden="true">
        <circle
          class="opacity-25"
          cx="12"
          cy="12"
          r="10"
          stroke="currentColor"
          stroke-width="4"
        ></circle>

        <path
          class="opacity-75"
          fill="currentColor"
          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
        ></path>
      </svg>
      <span>Processing…</span>
    } @else {
      <span>Send link</span>
    }
  </button>
</form>
